<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

<script type="type/javascript">
$(function() {
	$('#datetimepicker').datetimepicker();
});
</script>

<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username"  type="text" class="form-control" placeholder="Ваше имя" value="<%=@username%>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control bbb" placeholder="Ваш телефон" value="<%=@phone%>">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input id="datetimepicker" name="datetime" type="text" class="form-control" placeholder="Введите дату и время" value="<%=@datetime%>">
  </div>

  <div class="form-group">
    <label>Ваш парикмахер:</label>
    <select class="form-control" name="barber">

      <% @barbers.each do |item| %>
        <option <%= @barber == item['name'] ? 'selected' : '' %>><%= item['name'] %></option>
      <% end %>

    </select>
  </div>

  <div class="form-group">
    <label>В какой цвет хотите себя окрасить: </label>
    <select id="color" name="color">
      <option value="без окрашивания">без окрашивания</option>
      <option value="желтый">желтый</option>
      <option value="каштановый">каштановый</option>
      <option value="розовый">розовый</option>
      <option value="чёрный">чёрный</option>
      <option value="пепельный">пепельный</option>
    </select>
  </div>

  
  <button type="submit" class="btn btn-primary">Записаться</button>

</form>

